.container {
    display: flex;
    padding: 40px 7%;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    max-width: 1440px;
    align-self: stretch;
}

@media (min-width: 1440px) {
    .container {

        flex-direction: row;
        place-self: center;
    }
}

@media(min-width: 768px) {

}