.container {
    display: flex;
    padding: 40px 7%;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    max-width: 1440px;
    align-self: stretch;
    min-width: 100%;
}

@media (min-width: 1440px) {
    .container {
        max-width: 1440px;
        min-width: 1440px;
        place-self: center;
        padding: 80px 101px;
    }
}

@media(min-width: 768px) {

}