{
  "singleQuote": false,
  "jsxSingleQuote": false,
  "arrowParens": "always",
  "tabWidth": 2,
  "printWidth": 80,
  "useTabs": true,
  "semi": false,
  "bracketSpacing": true,
  "trailingComma": "all"
}
